*.ckpt
*.tfmodel
*edgebox*
*.gz
*.pyc
*.log
networks/deeplab_network.py
networks/faster_rcnn_network.py
exp-referit/init_referit_seg_lowres_deeplab101.py
exp-referit/exp_train_referit_seg_lowres_deeplab101.py
exp-referit/exp_train_referit_det_original.py
exp-referit/faster_rcnn_train.py
exp-referit/data/train_batch_det
exp-referit/data/train_batch_seg
exp-referit/referit-dataset/images
exp-referit/referit-dataset/mask
